{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Form page product</h1>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<style>

  form {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px 10px;
    align-items: center;
    max-width: 500px;
    margin-top: 20px;
  }

  label {
    text-align: right;
    padding-right: 10px;
  }

  input, select, textarea {
    width: 100%;
    padding: 5px;
    font-size: 1em;
  }

  textarea {
    resize: vertical;
  }

  input[type="submit"] {
    grid-column: 2;
    width: auto;
    padding: 5px 10px;
  }


</style>

<form action="/shop/add_product" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}

    <p><input type="submit" value="OK"></p>
</form>

{% endblock %}
